rdflib
rdflib.namespace
pandas
csv
os
logging
sys
pprint
funowl
funowl.converters.functional_converter
owlready2
numpy
xml.etree.ElementTree
nltk.wsd
nltk
nltk.tokenize
matplotlib
networkx
matplotlib.pyplot
sklearn.metrics.pairwise
sklearn.feature_extraction.text